# Lektion 0: Einführung in Pandas

In [6]:
from pandas import read_csv

In [7]:
data = read_csv(
    filepath_or_buffer = "../data/bikesharing.csv",
    sep=",", 
    decimal=".",
    skiprows=[0,1,2]
)

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data

,2,spring,no,Mon,no.1,clear sky,0.196364,0.189405,0.437273,0.248309,120,1229,1349,3,1,2011
0,3,spring,no,Tue,no,clear sky,0.200000,0.212122,0.590435,0.160296,108,1454,1562,4,1,2011
1,4,spring,no,Wed,no,clear sky,0.226957,0.229270,0.436957,0.186900,82,1518,1600,5,1,2011
2,5,spring,no,Thu,no,clear sky,0.204348,0.233209,0.518261,0.089565,88,1518,1606,6,1,2011
3,6,spring,no,Fri,no,cloudy,0.196522,0.208839,0.498696,0.168726,148,1362,1510,7,1,2011
4,7,spring,no,Sat,no,cloudy,0.165000,0.162254,0.535833,0.266804,68,891,959,8,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,726,spring,no,Thu,no,cloudy,0.254167,0.226642,0.652917,0.350133,247,1867,2114,27,12,2012
724,727,spring,no,Fri,no,cloudy,0.253333,0.255046,0.590000,0.155471,644,2451,3095,28,12,2012
725,728,spring,no,Sat,no,cloudy,0.253333,0.242400,0.752917,0.124383,159,1182,1341,29,12,2012
726,729,spring,no,Sun,no,clear sky,0.255833,0.231700,NaN,0.350754,364,1432,1796,30,12,2012
727,730,spring,no,Mon,no,cloudy,0.215833,0.223487,0.577500,0.154846,439,2290,2729,31,12,2012

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   2          728 non-null    int64
 1   spring     728 non-null    object
 2   no         728 non-null    object
 3   Mon        728 non-null    object
 4   no.1       728 non-null    object
 5   clear sky  728 non-null    object
 6   0.196364   728 non-null    float64
 7   0.189405   728 non-null    float64
 8   0.437273   695 non-null    float64
 9   0.248309   728 non-null    float64
 10  120        728 non-null    int64
 11  1229       728 non-null    int64
 12  1349       728 non-null    int64
 13  3          728 non-null    int64
 14  1          728 non-null    int64
 15  2011       728 non-null    int64
dtypes: float64(4), int64(7), object(5)
memory usage: 91.1+ KB